0body {
	background-color: black;
	border:0
}

.myClass {
width:0;
}

.white-spacer {
	color: white;
	border: 1;
}

.clear-both {
	clear: both;
}

hmmm{
}


bl5 {
oneError:yep;
}

bla {
notexisting:nope;
}
 
bla2 {
onemoreerror:yep;
}

bla2 {
onemoreerror:yep;
}


bla4 {
oneError:yep;
}

bla5 {
onemoreerror:yep;
}


bla2 {
onemoreerror:yep;
}



bla45 {
oneError:yep;
}


